.container .left,
.container .right {
  width: 450px;
  height: 450px;
  border-radius: 50% 70% 40% 70%;
  position: absolute;

  background: linear-gradient(to right, #d0bfff 30%, #f3f0ff 100%);
}
.container .left img,
.container .right img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.container .left {
  left: 20px;
  top: 80px;
  z-index: -11;
  opacity: 0.5;
  animation: bounce1 alternate-reverse ease-in-out 20s infinite;
}
.container .right {
  right: 20px;
  bottom: 20px;
  z-index: -11;
  opacity: 0.5;
  animation: bounce2 alternate-reverse ease-in-out 20s infinite;
}

@keyframes bounce1 {
  0% {
    transform: translate(500px, 350px);
    border-radius: 50% 60% 70% 20%;
  }
  100% {
    transform: translate(0px, 0px);
    border-radius: 50% 70% 40% 70%;
  }
}
@keyframes bounce2 {
  0% {
    transform: translate(-500px, -350px);
    border-radius: 50% 60% 70% 20%;
  }
  100% {
    transform: translateX(0px);
    border-radius: 50% 70% 40% 70%;
  }
}
