.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  text-decoration: none;
}
.logo h1 {
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 800;
  color: #9775fa;
}
