.form {
  height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.form h1 {
  font-size: clamp(3rem, 8vw, 12rem);
  font-weight: 800;

  background: linear-gradient(to right, #000 30%, #ffe066 100%);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  filter: drop-shadow(0px 4px 20px rgba(162, 155, 254, 0.2));
}

.form p {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: #adb5bd;
  margin-bottom: 3rem;
}
