.card {
  width: 400px;
  height: 300px;
  border-radius: 17px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* text-align: center; */
  gap: 15px;
  box-shadow: 1px 1px 2px 0px #d0d0d1;
  background-color: #f8f9fa;
  transition: all 0.4s;
  border-top: 5px solid #ffa94d;
}
.card:hover {
  box-shadow: 1px 10px 5px 0px #d0d0d1;
}
.card h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #5f3dc4;
}
.card p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #868e96;
}
.card span {
  font-size: 5rem;
  font-weight: 700;
  color: #888;
}
